<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} [${threadid}] ${message}"/>
	<variable name="ExceptionVerboseLayout" value="${VerboseLayout} - ${exception:format=ToString}"/>

	<targets>
		<target name="Console" xsi:type="Console" layout="${activity:TraceId} ${longdate} ${callsite} ${level} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="Console,graylog,file" final="true"/>
	</rules>

</nlog>